extends widget/base

block append head
  link(rel='stylesheet', href= url_for("/style/widget-post-list.css"))

block topic
  if page.category != 'Creation'
    span= `${ _p('category') } · ${ page.category || __('all') }`
  else
    span= `Creation`

block content
  include widget/widget-post-list
    block sidebar
      if page.category != 'Creation'
        div(style="position: sticky; top: 50px;")
          include widget/widget-categories




